.main-header {
  height: 520px;
  width: 100%;
  display: flex;
}

.main-header > div {
  background-color: darkorange;
  align-self: flex-end;
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#userName {
  color: white;
  font-size: 1.5em;
}

@media only screen and (min-width: 1024px) {

  .main-header {
    width: 40%;
  }
  .main-header > div {
    height: 350px;
    margin-top: 240px;
    margin-left:5%;
  }
}
