nav {
  height: 120px;
  width: 100vw;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: transparent;
}

nav >span {
  font-family: 'Bungee', cursive;
  align-self: center;
  font-size: 1.5em;
  padding-left: 2.5%;
}

.navBarRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
  padding-top: 20px;
}

.hide {
  display:none;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056a1;
    z-index: 9999;
  }
  .hide {
    display: flex;
    /* to not hide the navBarRight on desktop mode */
  }
} 