main > section {
  margin:2.5%;
}
#new-tweet-container {
  display: flex;
  flex-direction: column;
  padding: 2.5%;
}

#new-tweet-form {
  display: flex;
  flex-direction: column;
}

#tweet-Bottom {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  font-size: 0.75em;
  padding-top: 5%;
}

#submit-button {
  background-color: #4056a1;
  color: #FFFFFF;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
}

#submit-button:hover{
  outline-color: #384e9e;
  outline-style: solid;
  box-shadow: 0 0 10px #16359a;
}


    /* background-color: darken( #4056a1, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1; */

form>label{
  font-weight: bold;
}

#tweet-text {
  border: none;
  border-bottom: 3px solid black;
  resize: none;
  background-color: transparent;
  font-size: 0.75em;
  padding: 0px;
}

.neg {
  color: red;
}

/* for the new tweet error */
#error {
  display: none;
  border: 2px red solid;
  font-weight: bold;
  color: red;
  text-align: center;
  padding: 4px;
}

@media only screen and (min-width: 1024px) {}
