.tweets {
  margin:2.5%;
}

.tweet {
  padding: 2.5%;
  margin-top: 2.5%;  
  border: 3px solid black;
}
.tweet-header {
  display: flex;  
  justify-content: space-between;
  height: 2em;
}
article.tweet footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 2.5%;
}


article .user-avatar {
  font-size: 2em;
}

.user-info{
  display: flex;
  justify-content: flex-start;
}
article.tweet p{
  border-bottom: 3px solid black;
}

.tweet-user-name {
  opacity: .6;
  font-weight: bold;
}

i {
  color: #4056a1;
}

article.tweet:hover{
  box-shadow: 5px 5px gray;
}

i.footer-icon:hover {
  color: darkorange;
}

.user-info{
  display: flex;
  align-items: center;
}